@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora');

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    
}

body {
    background: #3e40c3;
}

header {
    background: #ffffff;
    border: 10px solid #bf0c3d;
    font-family: 'Cinzel', serif;
    padding: 5% 15% 5% 15%;
    text-align: center;
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    text-align: center;
    background: #3e40c3;
    justify-content: center;
}

nav li{
    display: flex;
    font-family: 'Cinzel', serif;
    padding: 3em;
}

nav a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: .25em 0;
}

#img-div {
    max-width: 100%;
    text-align: center;
    margin: auto;
}

#img-caption {
    color: white;
    font-size: 1.25rem;
    line-height: 1em;
    margin: auto;
    width: 45%;
    text-align: center;
}

section {
    background: #00205b;
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
    text-align: center;
    display: flex;
  }

.full-width { 
    padding: 3%;
    display: flex; 
}

.half-width {
    color: white;
    font-size: 1.25rem;
    width: 50%;
    padding: 1em;
}

ul{
    padding: 0 0 0 30px;
}

li {
    text-align: left;
}

a {
    color: #ff2037;
}

.garden, 
.harry, 
.girls {
    border: 10px solid #bf0c3d;
    max-width: 100%;
    width: 100%
}

footer {
  background: #3e40c3;
  text-align: center;
  font-size: 1.25rem;
  padding: 40px 40px 40px 40px;
  line-height: 150%
}


/********
    Media Queries
        ********/

/**********using em = 768px**********/

@media screen and (max-width: 48em) {
    header {
        font-size: 1rem;
        border: 2px solid #bf0c3d;
    }
    
    nav li{
        padding: .5em;
    }
    
    nav a{
        font-size: 1rem;
        padding: .25em 0;
    }
    
    body {
        background: none;
    }
    
    section {
        margin: 0;
        padding: 0;
        border: none;
    }
    
    #michelle-obama-image {
        width: 75%;
        padding: 0;
    }
    
    #img-caption {
    font-size: 1rem;
    line-height: 1em;
    margin: auto;
    width: 60%;
    }
    
    .full-width {
        flex-direction: column;
    }
    
    .half-width {
        font-size: 1rem;
        padding-left: 5.5em;
        width: 75%;
    }
    
    .garden, 
    .harry, 
    .girls {
        border: 3px solid #bf0c3d;
        padding-bottom: 1rem;
    }
    
    ul {
        padding: 0 1em;
    }
    
    footer {
        padding: 0;
        font-size: .1rem;
    }
}


/**********using em = 480px**********/

@media screen and (max-width: 30em) {
    header {
        font-size: .5rem;
        border: 1px solid #bf0c3d;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        display: flex;
        padding: 0;
        justify-content: center;
    }
    
    nav a {
        font-size: .3rem;
        padding: 0;
    }
    
    #michelle-obama-image {
        width: 95%;
        padding: .5em
    }
    
    body {
        background: none;
    }
    
    section {
        margin: 0;
        padding: 0;
        border: none;
    }
    
    #img-caption {
        font-size: .3rem;
        line-height: .6rem;
        padding: 0 1.5em;
        margin: 0;
        width: 95%;
    }
    
    .full-width {
        flex-direction: column;
    }
    
    .half-width {
        font-size: .3rem;
        padding: 0 3em;
        width: 90%;
    }
    
    .garden, 
    .harry, 
    .girls {
        border: 1px solid #bf0c3d;
    }
    
    ul,
    li {
        padding: 0 1em; 
    }
    
    footer {
        padding: 0;
        font-size: .1rem;
    }
}