@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora');

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    
}

body {
    background: #3e40c3;
}

header {
    background: #ffffff;
    border: 10px solid #bf0c3d;
    font-family: 'Cinzel', serif;
    padding: 5% 15% 5% 15%;
    text-align: center;
    font-size: 2rem;
}

nav ul{
    list-style: none;
    text-align: center;
    background: #3e40c3;
}

nav li{
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    padding: 3%;
}

nav a{
    color: white;
    display: block;
    /*width: 100px;*/
    /*font-size: 24px;*/
    font-size: 1.5rem;
    text-decoration: none;
}

#img-div {
    max-width: 100%;
    margin: auto;
    /*padding: 0px 395px 0px 395px;*/
    /*padding: 0% 33.33% 0% 33.33%;*/
}

#michelle-obama-image {
    /*height: auto;
    max-width: 590px;
    display: block;*/
    
}

#img-caption {
    color: white;
    /*font-size: 20px;*/
    font-size: 1.25rem;
    line-height: 1em;
    margin: auto;
    width: 45%;
    text-align: center;
}

section {
    background: #00205b;
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
    
    /*float: right;*/
    text-align: center;
    display: flex;
  }



.full-width { 
    padding: 3%;
    display: flex; 
}

.half-width {
    /*float: left;*/
    color: white;
    font-size: 1.25rem;
    /*max-width: 45%;*/
    /*padding: 30px;*/
    width: 50%;
    padding: 5%;
}

/*#tribute-link {
    color: #ff2037;
}*/
ul{
    padding: 0 0 0 30px;
}

li {
    text-align: left;
}

a {
    color: #ff2037;
}
.garden, 
.harry, 
.girls {
    border: 10px solid #bf0c3d;
    /*display: flex;*/
    /*height: 350px;
    width: 525px;*/
    max-width: 100%;
    width: 100%
}

footer {
  background: #3e40c3;
  text-align: center;
  font-size: 1.25rem;
  padding: 40px 40px 40px 40px;
  line-height: 150%
}

@media (max-width: 600px) {
    .full-width {
        flex-direction: column;
    }
    .half-width {
        width: 90%;
    }
    
}




  
